In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [45]:
nMTCD = 10000

In [46]:
D2D_result = pd.read_csv(f'result/D2D_Device_Result_{nMTCD}.csv')
ACB_result = pd.read_csv(f)

In [47]:
D2D_result

      Header  D2D_success  D2D_transmit  RA_init  RA_success  RA_transmit
0          0           -1             1      321         340            1
1          1           -1             1      157         204            1
2          2           -1             1      265         268            1
3          3           -1             1      367         380            1
4          4           -1             1      408         412            1
...      ...          ...           ...      ...         ...          ...
9995     290          668             1      661         671            1
9996      36          564             1      561         568            1
9997     522          636             1      630         637            1
9998     221          340             1      334         342            1
9999      93          244             1      243         249            1

[10000 rows x 6 columns]

In [48]:
D2D_result.loc[D2D_result['D2D_success'] != -1]

      Header  D2D_success  D2D_transmit  RA_init  RA_success  RA_transmit
21        12          452             1      450         452            1
24       721          172             1      166         172            1
30         2          260             2      250         260            1
33        25          284             1      282         284            1
34        18          100             1       97         100            1
...      ...          ...           ...      ...         ...          ...
9995     290          668             1      661         671            1
9996      36          564             1      561         568            1
9997     522          636             1      630         637            1
9998     221          340             1      334         342            1
9999      93          244             1      243         249            1

[9786 rows x 6 columns]