In [1]:
import pandas as pd
import numpy as np
import random
import os
import time

start_time = time.time()

path = os.path.abspath('.')

simRAO = 1000

nMTCD = 10000

nMTCD_success = 0  # total number of device that transmit success

nMTCD_fail = 0  # total number of device that transmit failed

Backoff = 2  # Backoff Indicator = 20ms

maxTrans = 10  # Maximum number of preamble transmission

N_PRB = 25  # Number of Sidelink Physical Resource Block

N_PRB_arrange = 20  # the number of arranged PRB

N_preamble = 54  # Number of PRACH Preamble

file_path = path + f'/MTCD_data_{nMTCD}.csv'
MTCD_data = pd.read_csv(file_path, index_col=False)

"""
RA_data
    records RA parameter and simulation result of every device
    the parameters required in enB <-> device communication
    Index:
        device_id
    Columns 4:
        RA_init:     Integer,
                     next frame the device send RA request
        RA_success:  Integer,
                     frame the device complete RA procedure
        RA_transmit: Integer,
                     number of the device trying to send RA request
"""
RA_data = MTCD_data[['RA_init', 'RA_success', 'RA_transmit']]

"""
D2D_member
    records D2D parameter of every Member
    also records numerical result for every Member
    the parametes required in Member -> Header communication
    Index:
        device_id
    Columns 7:
        Header:   Integer,
                  the Header of belonging D2D group
                  also indicate the group Header's device_id
        Member:   Boolen,
                  whether the device is a Member
        arrange:  Integer,
                  indicate the beloneing arrange sequence
        request:  Boolen,
                  whether the Member will send D2D request
        response: Boolean,
                  whether the device received its Header Response
        success:  Integer,
                  the frame the device finish D2D transmission (-1: not success yet)
        transmit: Integer,
                  number of the Member trying to send D2D request
"""
D2D_member = pd.DataFrame(
    columns=['Header', 'Member', 'arrange',
             'request', 'response', 'success', 'transmit'],
)

# assign group
D2D_member['Header'] = MTCD_data['clusters']

# assign type
D2D_member['Member'] = (D2D_member.index != D2D_member['Header'])

# assign arrange
for header in D2D_member['Header'].unique():
    members = D2D_member.loc[(D2D_member['Header'] == header) &
                             (D2D_member['Member'])]
    n = 0
    for device_id in members.index:
        D2D_member.at[device_id, 'arrange'] = n // N_PRB_arrange
        n += 1

# initialize request
D2D_member['request'] = np.zeros(nMTCD, dtype=bool)

# initialize response
D2D_member['response'] = np.zeros(nMTCD, dtype=bool)

# initialize success = -1
D2D_member['success'] = np.full(nMTCD, -1)

# initialize transmit
D2D_member['transmit'] = np.zeros(nMTCD, dtype=int)

"""
D2D_group
    records D2D parameter of every Header
    also records numerical result for every Header
    records the parameter required by Header -> Member communication
    Index:
        default sequence
    Columns 5:
        Header:     Integer,
                    device_id of the group Header
        class:      Integer,
                    the barring class of the beloneing D2D group
        N_member:   Integer,
                    the total number of device (member+header) in the group
        N_RA:       Integer,
                    number of RA_request within the group
        arr_seq:    Integer,
                    current arrange sequence
        arr_max:    Integer,
                    maximum arrange number
"""
D2D_group = pd.DataFrame(
    columns=['Header', 'class',
             'N_member', 'N_RA', 'arr_seq', 'arr_max']
)

# initialize Header
D2D_group['Header'] = MTCD_data['clusters'].unique()

# assign Class
N_group = len(D2D_group)
N_class = (N_group // N_preamble) + 1
seq = 0
for group in range(N_group):
    D2D_group.at[group, 'class'] = group // N_preamble

# initialize N_member
D2D_group['N_member'] = D2D_member.groupby(['Header']).size().values

# initialize RA_request
D2D_group['N_RA'] = np.zeros(N_group, dtype=int)

# initialize current arrange sequence
D2D_group['arr_seq'] = np.zeros(N_group, dtype=int)


"""
BS_schedule
    indicate the broadcast information for SIB2
    update every 16 system frame
    Do not require initialize
    Index:
        system_frame
    Columns 2:
        class: Integer,
               the class can initiate RA procedure
"""
BS_schedule = pd.DataFrame(
    columns=['class'],
)

# initialize class
BS_schedule['class'] = [f % N_class for f in range(simRAO)]

In [2]:
import time
start = time.process_time()
# your code here    
print(time.process_time() - start)

2.6679999999945636e-05

In [3]:
# dummy data
D2D_member['request'] = np.random.choice([True, False], size=nMTCD)
D2D_member.sample(5)

      Header  Member arrange  request  response  success  transmit
6209     140    True       1     True     False       -1         0
4103     407    True       0     True     False       -1         0
546        1    True       0    False     False       -1         0
1191      80    True       0     True     False       -1         0
5150       7    True       1    False     False       -1         0

In [4]:
start = time.process_time()
devices_loc = D2D_member.loc[D2D_member['request']]
print(time.process_time() - start)
devices_loc

0.0022372360000000313

      Header  Member arrange  request  response  success  transmit
0          0   False     NaN     True     False       -1         0
2          2   False     NaN     True     False       -1         0
3          3   False     NaN     True     False       -1         0
5          5   False     NaN     True     False       -1         0
9          9   False     NaN     True     False       -1         0
...      ...     ...     ...      ...       ...      ...       ...
9994    4658    True       1     True     False       -1         0
9995     290    True       2     True     False       -1         0
9996      36    True       1     True     False       -1         0
9997     522    True       2     True     False       -1         0
9999      93    True       2     True     False       -1         0

[4888 rows x 7 columns]

In [55]:

start = time.process_time()
devices_group = D2D_member.groupby('request').get_group(True)
print(time.process_time() - start)
devices_group

0.0033102160000000325

      Header  Member arrange  request  response  success  transmit
0          0   False     NaN     True     False       -1         0
3          3   False     NaN     True     False       -1         0
6          6   False     NaN     True     False       -1         0
11        11   False     NaN     True     False       -1         0
13        13   False     NaN     True     False       -1         0
...      ...     ...     ...      ...       ...      ...       ...
9985     446    True       2     True     False       -1         0
9986    1893    True       2     True     False       -1         0
9990      99    True       1     True     False       -1         0
9995     290    True       2     True     False       -1         0
9996      36    True       1     True     False       -1         0

[5072 rows x 7 columns]

In [20]:
members = D2D_member.loc[D2D_member['request']].copy()

In [19]:
type(members)

pandas.core.frame.DataFrame

In [15]:
headers = D2D_member.loc[D2D_member['request'], 'Header'].unique()
headers

array([   0,    2,    3,    5,    9,   11,   12,   14,   16,   19,   22,
        721,   26,   27,   28,   32,   35,   36,   40,   41,   42,   46,
        200,   51,   52,  976,   54,   55,   58,   59,   61,   62,   63,
         64,   73,   75,   76,   78,    7,    8,   91, 2744,  324,   92,
         93,   94,  243,   97,   98,   99, 7323, 6096,  103,  195,  115,
        118,  122,  125,  106, 2965,  140,  142,  128,   23,  145,  522,
        414,  157,   13,  269, 1072,  163,  164,  167,  402,  187, 1259,
        206, 4911,  204, 1233,   25,  213,  215,  218,  331,   10,  228,
       2726, 2083,  234,  786,  284,   18,  299,  262,  256, 1799, 3400,
        272,  291,  179,  290,  307,  108,  352, 1141,   39,  132, 1164,
         31, 1779, 1368,  511,  363,   29,   50,  349,  161,    6, 1403,
        236,    1, 1240,  407,  127,  534,  104,  420,  253,   84,  175,
       1159,  100,  594, 4658,   45,  380,  360,   80, 1180,  699,   67,
        781,    4,  178,  557, 7724,  740,   17,   15,   56, 1970,  332,
         43,  169,  124,  611,  612,  109,  141,  692, 1535,  857,  176,
        333,   47,   57,  113, 1905,  283,  401,  216, 1938,  292, 1893,
       3695,  446,  769, 2555,  238,  815,   90,  274,  843,  929, 6912,
       7044,  355,  252, 3357, 1013, 8151, 6167, 1059, 5817,  377,  732,
        221, 1444,   68,   20, 1390, 1236,  282, 5698,  172, 1460, 1683,
       6272, 1551,  322, 3243, 2118])

In [22]:
start = time.process_time()
for header in headers:
    group_id = D2D_group.loc[D2D_group['Header'] == header].index[0]
    print (group_id)
    arr_members = members.loc[members['arrange'] == cur_arrange].index
    non_arr_members = members.loc[members['arrange'] != cur_arrange].index
    print(arr_members)

print(time.process_time() - start)

t64', length=2093)
44
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
93
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
113
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
6
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
176
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
144
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
1
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
178
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
62
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
97
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
181
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
84
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
182
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
150
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
69
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
122
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
183
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
80
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
177
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
184
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
40
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
175
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
172
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
67
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
164
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
193
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
60
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
194
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
4
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
124
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
195
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
196
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
197
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
17
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
15
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
50
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
185
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
168
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
38
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
119
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
95
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
108
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
198
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
88
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
104
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
200
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
199
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
201
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
123
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
121
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
42
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
51
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
90
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
190
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
159
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
179
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
137
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
202
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
163
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
117
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
203
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
186
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
204
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
205
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
146
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
192
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
72
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
151
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
191
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
189
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
174
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
59
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
153
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
101
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
210
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
180
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
211
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
133
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
209
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
208
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
126
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
188
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
139
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
187
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
61
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
20
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
173
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
207
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
158
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
213
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
120
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
212
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
206
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
39
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
147
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
167
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
110
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
127
Int64Index([  24,   30,   37,   48,   53,   69,   74,   79,   82,   83,
            ...
            8698, 8865, 8915, 8956, 9147, 9179, 9230, 9312, 9662, 9938],
           dtype='int64', length=2093)
0.8001002110000002