In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
MTCD_grouping = pd.read_csv('MTCD_grouping_30000.csv', index_col=False)
MTCD_grouping.head()

   MTCD_id        x        y  clusters
0        0 -515.140  350.317         0
1        1  -62.455  -71.412         1
2        2   51.550  474.596         2
3        3  602.994   48.948         3
4        4 -928.978 -170.421         4

In [6]:
np.unique(MTCD_grouping.clusters)

array([    0,     1,     2,     3,     4,     5,     6,     7,     8,
           9,    10,    11,    12,    13,    14,    15,    16,    17,
          18,    19,    20,    21,    24,    25,    26,    27,    29,
          30,    31,    32,    33,    34,    37,    38,    39,    41,
          42,    46,    48,    51,    52,    53,    55,    57,    58,
          61,    62,    63,    64,    67,    68,    69,    70,    71,
          73,    74,    75,    78,    79,    80,    84,    85,    89,
          92,    93,    95,    97,    98,    99,   101,   102,   104,
         106,   108,   110,   112,   113,   115,   117,   121,   122,
         125,   127,   130,   131,   138,   139,   143,   145,   155,
         159,   160,   161,   162,   164,   166,   176,   178,   181,
         182,   188,   190,   197,   198,   202,   221,   225,   226,
         227,   231,   234,   235,   237,   240,   242,   247,   254,
         263,   268,   270,   274,   287,   294,   295,   312,   313,
         316,   317,   318,   320,   323,   327,   348,   349,   353,
         356,   361,   375,   376,   383,   399,   412,   420,   422,
         431,   433,   452,   454,   462,   472,   483,   487,   540,
         553,   579,   597,   600,   624,   637,   645,   655,   736,
         741,   783,   832,   854,   870,   924,   947,   958,   963,
         996,  1004,  1056,  1057,  1080,  1088,  1110,  1182,  1305,
        1316,  1380,  1385,  1403,  1476,  1524,  1531,  1602,  1693,
        1699,  1756,  1857,  2261,  2455,  2476,  2662,  2798,  2863,
        3260,  4007,  4160,  4350,  4577,  4585,  4606,  4819,  5862,
        5902,  7008,  7742,  7811,  8188,  8225,  9805, 10106, 11624,
       14070, 16553, 17330])

In [7]:
np.unique(MTCD_grouping.clusters).shape

(219,)